.cardBitProfileContainer {
    overflow: hidden;
    padding-bottom: 5px;

    .avatar {
        padding-top: 8px;
        padding-left: 5px;
        width: 45px;
    }
    .profileInfo {
        padding-top: 6px;
        padding-left: 5px;
    }
    .bitcoinInfo {
        padding-top: 6px;
        padding-left: 50px;
    }
    .title {
        font-weight: bold;
    }
}

.cardActionContainer {
    padding-bottom: 5px;

    .iconContainer {
        .icon {
            width: 50px;
        }
    }
    .descContainer {
        overflow: hidden;
        padding-left: 5px;
        width: 80%;
        .title {
            font-weight: bold;
        }
        .desc {
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
        }
    }
    .actionContainer {
        padding-left: 2px;
    }
    
}